@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

    var especies = ViewBag.Especies as List<string>;
}

<<<<<<< HEAD
<h3>Cadastro de Raça</h3>

<form action="/raca/cadastrar" method="POST">
    <div>
        <label for="campo_nome" class="form-label">
            Nome <span class="text-danger fw-bold">
                *
            </span>
        </label>
        <input type="text" id="campo_nome" name="nome" class="form-control" required="required" />
    </div>
    <div class="mb-3">
        <label for="campo_especie">Espécie <span class="text-danger fw-bold">*</span></label>
        <select id="campo_especie" name="especie" class="form-select" required="resquired">

